doctype html
html(lang='it')
    head
        meta(charset='UTF-8')
        title test
        link(rel='stylesheet', href='../public/styles/main.css')
    body
        block content
        p ciao

        include includes/footer