doctype html
html(lang='en')
    head
        meta(charset='UTF-8')
        title slush-jade-stylus
        link(rel='stylesheet', href='../public/styles/main.css')
    body
        block content

        include includes/footer
		
		script(src="../public/scripts/scripts.js")